body {
  font-family: "Poppins", sans-serif;
  color: #525252;
}

.hero-img img {
  display: flex;
  width: 500px;
}

.hero-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.hero-content {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.hero-text {
  line-height: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
}

.hero-section {
  display: flex;
  justify-content: center;
}

#hero-name {
  font-size: 60px;
  font-weight: 600;
  margin-top: 35px;
  margin-bottom: 40px;
}

#hero-fed {
  font-size: 30px;
  font-weight: 600;
  color: #7e896c;
}

span {
  font-size: 20px;
  line-height: 30px;
}

.scroll-to-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.double-arrow {
  width: 20px;
}

.photog-fed {
  display: flex;
  flex-direction: row;
}

.hero-oslo {
  text-align: right;
}

.project-1,
.project-3 {
  background-image: linear-gradient(to right, #7e896c, #2e3227);
}

.project-1,
.project-2,
.project-3,
.project-4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 100px;
  height: fit-content;
  gap: 3vw;
  margin-bottom: 10px;
}

.project-2,
.project-4 {
  background-image: linear-gradient(to right, #2e3227, #7e896c);
  flex-wrap: wrap-reverse;
}

#pro-img {
  width: 400px;
  border-radius: 50%;
  margin-top: 3vh;
  border-style: outset;
  border-color: #fff;
  object-fit: cover;
}

h2,
h3 {
  color: #fff;
}

p {
  color: #fff;
}

.photography {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5vh;
  margin-bottom: 15vh;
}

.photography h1 {
  font-size: 45px;
  color: #08243e;
}

.photography-text {
  background-image: linear-gradient(to right, #165896, #08243e);
  padding: 50px;
  border-radius: 20px;
  width: fit-content;
}

.photography-text p {
  padding-bottom: 25px;
  padding-top: 10px;
}

.socials-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.contact {
  background-image: linear-gradient(180deg, #fff, #7e896c);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 40px;
  padding-bottom: 40px;
  line-height: 5px;
}

.contact-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contact-text h3 {
  font-size: 35px;
  color: #2e3227;
}

.contact-text h4,
.contact-text p {
  color: #2e3227;
}

.contact img {
  width: 250px;
  height: fit-content;
}

.contact-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4vw;
}

i {
  color: #08243e;
  display: flex;
  flex-wrap: wrap;
}

.html,
.css,
.js,
.wp,
.gh,
.figma {
  display: flex;
  align-items: center;
  gap: 10px;
}

.skills,
.skills p {
  color: #08243e;
}

.icons {
  display: flex;
  gap: 30px;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 3vh;
}

.back-to-top {
  margin-top: 10vw;
}

.back-to-top p {
  color: #2e3227;
  cursor: pointer;
}

.animate__animated.animate__fadeInRight {
  --animate-duration: 2s;
}

@media screen and (max-width: 589px) {
  span.hero-oslo {
    text-align: left;
  }
  .hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #hero-name {
    font-size: 48px;
  }
  span.animate__animated.animate__fadeInRight {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    flex-direction: column;
  }
  #hero-fed {
    font-size: 26px;
  }

  .hero-img img {
    width: 300px;
  }
  .scroll-to-projects {
    margin-top: 5vh;
    font-size: 14px;
  }
  img#pro-img {
    width: 300px;
  }

  .project-1,
  .project-2,
  .project-3,
  .project-4 {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  h2 {
    font-size: 20px;
  }
  .pro1-text,
  .pro2-text,
  .pro3-text,
  .pro4-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .photography-text {
    border-radius: 0;
  }
  .photography h1 {
    font-size: 26px;
    text-align: center;
  }
  .icons {
    display: flex;
    flex-direction: column;
  }

  .skills p {
    padding: 10px;
  }
  .contact {
    line-height: 50px;
  }

  .contact h3 {
    font-size: 26px;
  }
  .skills {
    padding-top: 1vh;
  }
}
